.container-footer {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (width >=48rem) {
  .container-footer {
    padding: 0 2rem;
  }
}

@media screen and (width >=56.25rem) {
  .container-footer {
    padding: 0 3rem;
  }
}

@media screen and (width >=64rem) {
  .container-footer {
    padding: 0 3.5rem;
  }
}

@media screen and (width >=75rem) {
  .container-footer {
    padding: 0 4rem;
  }
}

@media screen and (width >=90rem) {
  .container-footer {
    padding: 0 5rem;
  }
}
